<h1>Login</h1>
<form method="POST" action="/login">

    <label>Username: </label><input type="text" name="username" id="username" placeholder="Required" required><br><br>
    <label>Password: </label><input type="text" name="password" id="password" placeholder="Required" required><br><br>

    <input type="submit" value="submit">

</form>